body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3980191.jpg&f=1&nofb=1);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
}

nav {
    /* background-color: white; */
    top:0;
    left:0;
    width: 60%;
    /* position: fixed; */
    opacity: 0.7;
    margin-left: 20%;
    margin-top: 2.5%;
    border: 0.25rem solid rgb(234, 131, 131);
    border-radius: 20px;
    
}

nav:hover {
    opacity: 1;
}

/* nav li {
    display: inline-flex;
    margin: 40px;
    font-size: x-large;
    text-decoration: none;
    color: black
}
nav li:hover{
    transform: scale(1.3);
    color: rgb(167, 76, 76);
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
a:active {
    color: none;
} */
.container2 {
    display: flex;
    margin: auto;
    width: 150px;
    /* margin-top: 30px;
    margin-left: 40%; */
    padding-top: 20px;
}

.container21 {
    width: 450px;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.headerpic {
    margin-left: 9%;
}
#heading{
    /* font-size: 48px; */
    color: white;
    /* align-content: center;
    text-align: center; */
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px rgb(234, 131, 131);
}

#page-header {
    font-size: 65px;
    font-weight:400;
    text-shadow: 4px 4px 4px rgb(234, 131, 131);
    font-family: 'Tangerine', serif;
    /* text-align: center; */
}

.container3 {
    color: white;
    max-width: 60%;
    align-content: center;
    margin-left: 20%;
}

.container3 img {
    border-radius: 20%;
}
.container4 {
    color: white;
    margin-left: 20%;
    max-width: 60%;
    align-content: center;

}
.container5 {
    color: white;
    max-width: 60%;
    align-content: center;
    /* margin-left: 20%; */
    margin: auto;
}

 @media screen and (max-width: 577px) {
    .container5 {
        color: white;
        max-width: auto;
        align-content: center;
        margin-right: 20%;
    }
}
.container6 {
    color: white;
    max-width: 60%;
    align-content: center;
    margin-left: 20%;
}
.container {
    display: flex;
    margin-top: 40px;
}
@media only screen and (max-width: 375px) {
    .container{
      display: block;
    }
  }
#card { 
    height: 12rem; 
    width: 12rem; 
    background-color: white;
    border-radius: 15%;
    margin: 2rem; 
    opacity: 0.7;
    text-align:center;
    object-fit: contain;
    padding: 1rem;
    font-size: 14pt;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    /* 4 values, x-axis y-axis blur color*/
}
#card:hover {
    transform: scale(1.1); 
    opacity: 1;

}
#card1 { 
    justify-content: left;
    height: 12rem; 
    width: 12rem; 
    background-color: white;
    border-radius: 15%;
    margin: 2rem; 
    opacity: 0.7;
    text-align:center;
    object-fit: contain;
    padding: 1.5rem;
    font-size: 14pt;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    /* 4 values, x-axis y-axis blur color*/
}
#card1:hover {
    transform: scale(1.1);
    opacity: 1;
}
#card2 { 
    justify-content: right;
    height: 12rem; 
    width: 12rem; 
    background-color: white;
    border-radius: 15%;
    margin: 2rem; 
    opacity: 0.7;
    text-align:center;
    object-fit: contain;
    padding: 1.5rem;
    font-size: 14pt;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    /* 4 values, x-axis y-axis blur color*/
}
#card2:hover {
    transform: scale(1.1);
    opacity: 1;
}
#card3 { 
    justify-content: right;
    height: 12rem; 
    width: 12rem; 
    background-color: white;
    border-radius: 15%;
    margin: 2rem; 
    opacity: 0.7;
    text-align:center;
    object-fit: contain;
    padding: 1.5rem;
    font-size: 14pt;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    /* 4 values, x-axis y-axis blur color*/
}
#card3:hover {
    transform: scale(1.1);
    opacity: 1;
}
#card4 { 
    justify-content: right;
    height: 12rem; 
    width: 12rem; 
    background-color: white;
    border-radius: 15%;
    margin: 2rem; 
    opacity: 0.7;
    text-align:center;
    object-fit: contain;
    padding: 1.5rem;
    font-size: 14pt;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    /* 4 values, x-axis y-axis blur color*/
}
#card4:hover {
    transform: scale(1.1);
    opacity: 1;
}

img {
    width: 90%;
    height:90%;
    object-fit: contain;
}

.testimonials {
    max-width: 90%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    margin-left: 5%;
    border: 0.25rem solid rgb(234, 131, 131);
    border-radius: 15px;
    padding: 15px;
}

.testimonial {
    /* max-width: 60%; */
    color: black;
    text-align: center;
    max-width: 60%;
    margin-left: 20%;
    padding: 10px;
}

.test-button {
    color: black;
}

.testimonial-title {
    color: white;
    text-align: center;
    margin-top:  50px;
    margin-bottom: 60px;
    font-size: 60px;
    text-shadow: 4px 4px 4px rgb(234, 131, 131);
    font-family: 'Tangerine', serif;
}

#about-header {
    font-size: 60px;
    text-shadow: 4px 4px 4px rgb(234, 131, 131);
    font-family: 'Tangerine', serif;
    text-align: center;
}

#services-header {
    font-size: 60px;
    text-shadow: 4px 4px 4px rgb(234, 131, 131);
    font-family: 'Tangerine', serif;
    text-align: center;
}

.navbar-nav {
    text-align: center;
}

#About {
    max-width: 90%;
    color: black;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    margin-left: 5%;
    border: 0.25rem solid rgb(234, 131, 131);
    border-radius: 15px;
    padding: 15px;
}

#description1 {
    display:none;
    visibility: hidden;
    height: 300px;
    width: 500px;
    /* border: 3px solid white; */
    background-color: white;
    color: black;
    position:absolute;
    z-index: 1;
    margin-left: 15%;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}

#description2 {
    display:none;
    visibility: hidden;
    height: 300px;
    width: 500px;
    /* border: 3px solid white; */
    background-color: white;
    color: black;
    position:absolute;
    z-index: 1;
    margin-left: 15%;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}

.contact-form {
    height: 520px;
    width: 350px;
    background-color: white;
    color: black;
    border:0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 15px;
    text-align: left;
    /* margin-left: 25px; */
    align-content: center;
    opacity: 0.7;
    /* margin-top: 50px;
    margin-left: 35%; */
    margin: auto;
    padding: 5px;
}

.contact-form:hover {
    opacity: 1;
}

#form-container {
    margin-top: 25px;
}

.form-items {
    margin-left: 10%;
    padding: 10px;
}

#description3 {
    display:flex;
    visibility: hidden;
    height: 300px;
    width: 500px;
    /* border: 3px solid white; */
    background-color: white;
    color: black;
    position:absolute;
    z-index: 1;
    margin-left: 15%;
    border: 0.25rem solid rgb(234, 131, 131);
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}


.services {
    text-align: center;
}