/*reset*/
/** {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}*/

main {
  max-width: 1400px;
  margin: 0 auto;
  width: 90vw;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3980191.jpg&f=1&nofb=1);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
}

nav {
    background-color: white;
    top:0;
    left:0;
    width: 100%;
    position: fixed;
    text-align: center;
    opacity: 0.8;
}

nav li {
    display: inline-flex;
    margin: 25px;
    font-size: x-large;
}
nav li:hover{
    transform: scale(1.5);
    color: rgb(167, 76, 76);
}
a {
    text-decoration: none;
}
a:active {
    color: none;
}
.container2 {
    display: flex;
    margin-top: 40px;
    margin-left: 25%;
}
#heading{
    font-size: 20pt;
    color: white;
    align-content: center;
    max-width: 100%;
    height: auto;
    text-align: center;
}
#header {
  height: 100vh;
  text-align: center;
}


.container3 {
    color: white;
    max-width: 60%;
    align-content: center;
    margin-left: 20%;
}

.container3 img {
    border-radius: 20%;
}
.container4 {
    color: white;
    max-width: 60%;
    align-content: center;
    margin-left: 20%;
    height: 100vh;
}
.container5 {
    color: white;
    max-width: 60%;
    align-content: center;
    margin-left: 20%;
}
/*.container6 {
    
}*/
.container {
    display: flex;
    /*position: relative*/
    margin-top: 40px; 
    justify-content: space-between;
    height: 300px;
    width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
    align-content: center;
}


.flip-card1 {
    background-color: transparent;
    display: flex;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    /*margin: 2rem;*/
    padding: 1.5rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    justify-content: center;
    align-items: center;
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner1 {
    position:absolute;
    /*width: 10rem;
    height: 10rem;*/
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    /*width: 10rem;
    height: 10rem;*/
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front1 {
    background-color: white;
    border: 5px solid pink;
    position: absolute;
    opacity: 0.7;
    color: black;
    border-radius: 15%;
    
  }
  
  /* Style the back side */
  .flip-card-back1 {
    background-color: white;
    color: black;
    border-radius: 15%;
    transform: rotateY(180deg);
  }

.flip-card-front1 img {
    width: 90%;
    height:90%;
    object-fit: contain;
}